{% extends 'main.html' %}

{% load static %}

{% block menu %}
{% include "part/footer.html" %}
{% endblock menu %}

{% block content  %}

<!-- Navbar -->
<header class="detail-header p-3 m-2">
    <div class="main-container">
            <div class="d-flex align-items-center justify-content-between main-navbar">
                    <a href="/">
                        <img src="{% static 'image/airbnb.png' %}" width="90px" alt="">
                    </a>
            

                    <div class="search-bar rounded-5">
                        <input type="search" placeholder="Herhangi bir yer seçin">
                        <i class="uil uil-search rounded-5"></i>
                    </div>

                    <div class="text-end navbar-right d-flex"> 
                        <a href="{% url 'host' %}"><button style="background-color: #fff;" class="mx-4 my-2" type="button">Evinizi Airbnb'ye taşıyın</button></a>
                        <div class="dropdown dropdwon-menu">
                            <a class="btn bg-white btn-outline-dark dropdown rounded-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="uil uil-align-justify"></i>
                                <img src="{{request.user.profil.profilresim.url}}" width="35px" alt="">
                            </a>
                        
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                        <li><a class="dropdown-item main-dropdown-menu-itemsust" href="#">Mesajlar</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-itemsust" href="#">Seyehatler</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-itemsust" href="#">Favoriler</a></li>
                                        <hr>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="#">Kayıtları Yönetin</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="{% url 'hesap' %}">Hesap</a></li>
                                        <hr>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="#">Yardım</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="{% url 'logout' %}">Oturumu Kapatın</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item main-dropdown-menu-itemsust register" href="{% url 'loginregister' %}">Kaydolun</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-itemsust login" href="{% url 'loginregister' %}">Oturum Açın</a></li>
                                        <hr>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="#">Yardım</a></li>
                                        <li><a class="dropdown-item main-dropdown-menu-items" href="{% url 'host' %}">Evinizi Airbnb'ye taşıyın</a></li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
            </div>
    </div>        
        <hr class="w-100">
    <div class="main-container" style="display: none;">
        <div class="d-flex w-100">
            <div class="owl-carousel owl-theme sekmeler text-center">
                <div class="item">
                    <h6><i class="fa-solid fa-mountain-sun"></i></h6>
                    <s style="font-size: 10px;">Manzaralar</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-umbrella-beach"></i></h6>
                    <s style="font-size: 10px;">Denize Sıfır</s>
                </div>
                <div class="item">
                    <h6><i class="fa-sharp fa-solid fa-house"></i></h6>
                    <s style="font-size: 10px;">Bungalov</s>
                </div>
                <div class="item">
                    <h6><i class="fa-sharp fa-solid fa-fire"></i></h6>
                    <s style="font-size: 10px;">Favoriler</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-tree"></i></h6>
                    <s style="font-size: 10px;">Kamp</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-snowflake"></i></h6>
                    <s style="font-size: 10px;">Kuzey Kutbu</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-golf-ball-tee"></i></h6>
                    <s style="font-size: 10px;">Golf</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-tower-observation"></i></h6>
                    <s style="font-size: 10px;">Kuleler</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-water"></i></h6>
                    <s style="font-size: 10px;">Sahil</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-person-skiing"></i></h6>
                    <s style="font-size: 10px;">Kayak Merkezi</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-landmark-dome"></i></h6>
                    <s style="font-size: 10px;">Kubbeler</s>
                </div>
                <div class="item">
                    <h6><i class="uil uil-desert"></i></h6>
                    <s style="font-size: 10px;">Çöl</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-sailboat"></i></h6>
                    <s style="font-size: 10px;">Tekneler</s>
                </div>
                <div class="item">
                    <h6><i class="fa-solid fa-fire-burner"></i></h6>
                    <s style="font-size: 10px;">Mutfaklar</s>
                </div>
            </div>
            <div class="filtre-div">
                    <button class="btn filtre-button">
                        <i class="fa-solid fa-filter"><s class="mx-2">Filtre</s></i>  
                    </button>
            </div>
        
    </div>            
                    
    </div>
</header>

<!-- Web -->

<div class="detail">
    <div class="detail-info-web mt-2 m-5">
        <div class="m-4">
            <h3>{{postDetay.isim}}</h3>
            <div class="d-flex detail-assessment" style="font-size: 15px;">
                <p>
                    <i class="fa-solid fa-star"></i> 5,0 
                    <span> . </span>
                    <u style="text-decoration:underline!important"> 7 değerlendirme </u>  
                    <i class="ms-2 fa-solid fa-award"></i>  Süper Ev Sahibi .
                    <p class="ms-2" style="text-decoration:underline!important">{{postDetay.location}}</p>
                </p> 
                <div class="share" style="margin-left: auto;">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    <u style="text-decoration:underline!important">Paylaş</u>
                    <i class="ms-3 fa-regular fa-heart"></i>
                    <u style="text-decoration:underline!important">Kaydet</u>  
                </div> 
            </div>
        </div>
    <div class="detail-head m-4 ">
        <div class="row">
            <div class="col-sm-12 col-xl-6 d-flex detail-head-img">
                <img class="detail-img-head" src="{{postDetay.resim1.url}}" alt="" width="300px" height="472px"> 
            </div>
            <div class="col-6 detail-head-little-img ">
                    <div class="row">
                            <div class="col-6 detail-head-little-img d-block" style="padding:0;">
                                <img class="detail-img-1"  src="{{postDetay.resim2.url}}" alt="" width="360" height="230">
                                <img class="detail-img-2 mt-4"  src="{{postDetay.resim3.url}}" alt="" width="360" height="230" style="margin-top: 12px!important;">
                            </div>
                            <div class="col-6 detail-head-little-img d-block ">
                                <img class="detail-img-3"  src="{{postDetay.resim4.url}}" alt="" width="360" height="230">
                                <img class="detail-img-4 mt-4"  src="{{postDetay.resim5.url}}" alt="" width="360" height="230" style="margin-top: 12px!important;">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-web mt-5 m-5">
    <div class=" mt-4 m-5">
        <div class="row">
            <div class="col-8">
                <div class="row detail-profil-web">
                    <div class="col-6">
                        <h4> Tüm Villa Ev sahibi: {{postDetay.evsahibi}}</h4>
                        <small style="color: grey;">{{postDetay.bilgi}}<span> .</span></small> 
                        
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <img class="rounded-circle" src="{{ postDetay.evsahibi.profil.profilresim.url }}" alt="photo" width="50px" height="50px">
                    </div>
                </div>
                <hr>
                <div class="detail-visitor-experience-web mt-4">
                    <div class=" d-flex visitor-experience">
                        <i class="fa-solid fa-key fa-flip-horizontal" style="margin-top: 5px;"></i>
                        <div class="d-block"style="margin-left: 10px;">
                            <b>Mükemmel giriş deneyimi</b>
                            <div>
                                <small style="color: grey;">Yakın zamanda konaklayan misafirler giriş işlemine %100 oranında 5 yıldızlı puan verdi.</small>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex visitor-experience mt-4">
                        <i class="fa-solid fa-water-ladder fa-flip-horizontal" style="margin-top: 5px;"></i>
                        <div class="d-block"style="margin-left: 10px;">
                            <b>Balıklama Dalın</b>
                            <div>
                                <small style="color: grey;">Burası bölgede havuzu olan birkaç yerden biri.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex visitor-experience mt-4">
                        <i class="fa-solid fa-mountain-sun fa-flip-horizontal"></i>
                        <div class="d-block"style="margin-left: 10px;">
                            <b>Yüksek puan alan ev sahibi</b>
                            <div>
                                <small style="color: grey;">Burada konaklayan misafirlerin evin manzarısına 10 üzerinden 10 puan verdi.</small>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <img style="object-fit:contain;" class="detail-protection-img" src="{% static 'image/detail-logo.jpg'%}" alt="" width="120px" height="40px">
                    <div class="mt-2">        
                            <small>Her rezervasyon ev sahibi iptallerine, kayıt hatalarına ve girişle ilgili problemler gibi diğer sorunlara karşı ücretsiz olarak koruma altındadır.</small>
                    </div>
                    <div class="mt-4">
                            <a href=""><small style="text-decoration:underline!important"><b>Daha fazla bilgi edinin</b></small></a>
                    </div>
                    <hr>
                    <small>Mylo Villa, Ios Adası'nda tenha bir noktada, adanın en ünlü plajı olan Mylopotas plajına arabayla sadece 2 dakika mesafededir.
                    Villa, adını Mylopotas plajından ve sonsuz altın kuma, kristal berraklığındaki sulara sahip Ege'nin en güzel plajlarından birine yakınlığından aldı. Mylopotas plajı AB Mavi Bayrak, canlı plaj barları ile ödüllendirilir, su sporları tesisleri Mylo Villa'daki konaklamanızı tam bir yaz hayali gerçekleştirir.</small>
                    <div class="mt-4">
                                <a href=""><small style="text-decoration:underline!important"><b>Daha fazlasını göster</b></small></a>
                                <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <hr>
                    <h4>Nerede Uyuyacaksınız?</h4>
                    <div class="d-flex detail-rooms-slider">
                                <div class=" m-2 mt-4 d-flex detail-rooms">
                                    <div class="ms-4 detail-rooms-card">
                                        <i class="fa-solid fa-bed"></i>
                                        <div class="mt-2">
                                            <small><b>1. Yatak odası</b></small>
                                        </div>
                                        <div class="mt-2">
                                            <small>1 çift kişilik yatak</small>
                                        </div>
                                    </div>
                                    <div class=" ms-4 detail-rooms-card">
                                        <i class="fa-solid fa-bed"></i>
                                        <div class="mt-2">
                                            <small><b>2. Yatak odası</b></small>
                                        </div>
                                        <div class="mt-2">
                                            <small>1 çift kişilik yatak</small>
                                        </div>
                                    </div>
                                    <div class=" ms-4 detail-rooms-card">
                                        <i class="fa-solid fa-bed"></i>
                                        <div class="mt-2">
                                            <small><b>3. Yatak odası</b></small>
                                        </div>
                                        <div class="mt-2">
                                            <small>1 çift kişilik yatak</small>
                                        </div>
                                    </div>
                                </div>
                                <div class=" m-2 mt-4 d-flex detail-rooms">
                                    <div class="detail-rooms-card">
                                        <i class="fa-solid fa-bed"></i>
                                        <div class="mt-2">
                                            <small><b>4. Yatak odası</b></small>
                                        </div>
                                        <div class="mt-2">
                                            <small>1 çift kişilik yatak</small>
                                        </div>
                                    </div>
                                    <div class="ms-4 detail-rooms-card">
                                        <i class="fa-solid fa-bed"></i>
                                        <div class="mt-2">
                                            <small><b>5. Yatak odası</b></small>
                                        </div>
                                        <div class="mt-2">
                                            <small>1 çift kişilik yatak</small>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    </div>
                    <div class="mt-4 detail-house-web">
                    <h4 >Bu mekan size neler sunuyor?</h4>
                    <div class="d-flex mt-4 detail-house-list">
                                        <i class=" mt-2 fa-solid fa-utensils fa-lg"></i>
                                        <p class="ms-3">Mutfak</p>
                    </div>
                    <div class="d-inline-block">
                                    <div class=" d-flex mt-2 detail-house-list">
                                        <i class="mt-2 fa-solid fa-wifi fa-lg"></i>
                                        <p class="ms-3">Wifi</p>
                                    </div>
                    </div>
                    <div class="d-flex mt-2 detail-house-list">
                                        <i class="mt-2 fa-solid fa-car fa-lg"></i>
                                        <p class="ms-3">Ücretsiz otopark</p>
                    </div>
                    <div class="d-flex mt-2 detail-house-list">
                                    <i class="fa-solid fa-water-ladder fa-flip-horizontal fa-lg" style="margin-top: 10px;"></i>
                                    <p class="ms-3">Müstakil yüzme havuzu</p>
                    </div>
                    <div class="d-flex mt-2 detail-house-list">
                                    <i class=" mt-2 fa-solid fa-paw fa-lg"></i>
                                    <p class="ms-3">Evcil hayvan kabul edilir</p>
                    </div>
                    </div>
                    <div>
                                    <button type="button" class="btn btn-outline-dark">12 olanağın tümünü göster</button>
                    </div>
                            </div>
                            <div class="col-4 detail-right">
                                <div class=" detail-right-card">
                                    <div class="d-flex">
                                        <h5>{{postDetay.fiyat}} ₺</h5><small class=" me-5 ms-2">gece</small>
                                        <i class=" ms-2 mt-1 fa-solid fa-star"></i>
                                        <span class="me-1 ms-1">5,0</span> 
                                        <span> . </span>
                                        <u class="ms-2"style="text-decoration:underline!important; color:grey;"> 7 değerlendirme </u>  
                                    </div>
                                    <div class="d-flex detail-right-calendar" >
                                        <div class="ms-3 mx-3 p-3">                                        
                                            <small>Giriş</small>
                                            <small class="d-block">16.04.2023</small>
                                        </div>
                                        <div class=" mx-3 me-5 p-3" style="border-left: 1px solid #dddddd;">
                                            <small>Çıkış</small>
                                            <small class="d-block">16.04.2023</small>
                                        </div>
                                            
                                    </div>
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" style="width:90%; text-align:left; border: 1px solid #dddddd;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          <small>Misafir Sayısı</small>
                                        </a>
                                        <div class="dropdown-menu" style="width: 310px;">
                                            <div class="ms-3 d-flex justify-content-between">
                                                <small><b>Yetişkinler</b></small>
                                                <div>
                                                    <button style="background-color: white;">
                                                        <i class="me-3 fa-solid fa-minus"></i>
                                                    </button>
                                                    <span>2</span>
                                                    <button style="background-color: white;">
                                                        <i class="ms-3 me-3 fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3 ms-3">
                                                <small>2-12 yaş</small>
                                            </div>
                                            <div class="ms-3 d-flex justify-content-between">
                                                <small><b>Çocuklar</b></small>
                                                <div>
                                                    <button style="background-color: white;">
                                                        <i class="me-3 fa-solid fa-minus"></i>
                                                    </button>
                                                    <span>1</span>
                                                    <button style="background-color: white;">
                                                        <i class="ms-3 me-3 fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mb-3 ms-3">
                                                <small>13 yaş ve üstü</small>
                                            </div>
                                        </div>
                                      </div>
                                      <button class="btn mt-3 detail-airbnb" style="width:90%;">Tarihleri Değiştirin</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                              <div class="detail-info mt-4 m-4">
    <h3>Petra Suite</h3>
    <div class="d-flex detail-assessment" style="font-size: 15px;">
        <p>
            <i class="fa-solid fa-star"></i> 5,0 
            <span> . </span>
            <u style="text-decoration:underline!important"> 7 değerlendirme</u> 
            <span> . </span> 
            <u style="text-decoration:underline!important">Paros, Yunanistan</u> 
        </p>  
    </div>
    <hr>
</div>
                        </div>      
                </div>
            </div>


<!-- Responsive -->
<div class="detail-bar">
    <div class="mt-4 m-4">
        <div class="d-flex">
            <div class="p-2">
                <small style="color: grey; text-decoration:line-through !important;"><b>13.500 ₺</b></small>
                <small><b>8.750 ₺</b> gece</small>
            </div class="d-flex">
                <button class="d-flex btn btn-primary" style="margin-left: 20px;">Rezerve Edin</button>
            </div>
    </div>
</div>
<div id="detail-carousel-responsive" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
        <div class="back-fav-share">
            <div class="detail-back">
                <a href="">
                    <i class="fa-sharp fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item active">  
            <img class="detail-img-head" src="{% static 'image/detail-img-1.jpg' %}" alt="" width="620px" height="480px"> 
        </div>
        <div class="carousel-item">
          <img class="detail-img-head" src="{% static 'image/detail-img-2.jpg' %}" alt="" width="620px" height="480px">
        </div>
        <div class="carousel-item">
          <img class="detail-img-head" src="{% static 'image/detail-img-3.jpg' %}" alt="" width="620px" height="480px">
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#detail-carousel-responsive" data-bs-slide="prev">
      <span aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#detail-carousel-responsive" data-bs-slide="next">
      <span aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="detail-info mt-4 m-4">
    <h3>Petra Suite</h3>
    <div class="d-flex detail-assessment" style="font-size: 15px;">
        <p>
            <i class="fa-solid fa-star"></i> 5,0 
            <span> . </span>
            <u style="text-decoration:underline!important"> 7 değerlendirme</u> 
            <span> . </span> 
            <u style="text-decoration:underline!important">Paros, Yunanistan</u> 
        </p>  
    </div>
    <hr>
</div>

<div class="detail-homeowner-res mt-4 m-4">
    <div class="row detail-profil">
        <div class="col-6">
            <h4> Tüm Villa Ev sahibi: Emre</h4>
        </div>
        <div class="col-6" style="text-align: right;">
            <img class="rounded-circle" src="{% static 'image/Emre.jpg'%}" alt="photo" width="50px" height="50px">
        </div>
    </div>
    <small style="color: grey;">2 misafir <span> .</span></small> 
    <small style="color: grey;">1 yatak odası <span> .</span></small> 
    <small style="color: grey;">1 yatak <span> .</span></small> 
    <small style="color: grey;">1 banyo</small> 
    <hr>
</div>

<div class="detail-visitor-experience mt-4 m-4">
    <div class=" d-flex visitor-experience">
        <i class="fa-solid fa-key fa-flip-horizontal" style="margin-top: 5px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <b>Mükemmel giriş deneyimi</b>
            <div>
                <small style="color: grey;">Yakın zamanda konaklayan misafirler giriş işlemine %100 oranında 5 yıldızlı puan verdi.</small>
            </div>
        </div>
    </div>
    <div class=" d-flex visitor-experience mt-4">
        <i class="fa-solid fa-water-ladder fa-flip-horizontal" style="margin-top: 5px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <b>Balıklama Dalın</b>
            <div>
                <small style="color: grey;">Burası bölgede havuzu olan birkaç yerden biri.
                </small>
            </div>
        </div>
    </div>
    <div class=" d-flex visitor-experience mt-4">
        <i class="fa-solid fa-mountain-sun fa-flip-horizontal"></i>
        <div class="d-block"style="margin-left: 10px;">
            <b>Yüksek puan alan ev sahibi</b>
            <div>
                <small style="color: grey;">Burada konaklayan misafirlerin evin manzarısına 10 üzerinden 10 puan verdi.</small>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="detail-protection-res mt-4 m-4">
    <img class="detail-protection-img" src="{% static 'image/detail-logo.jpg'%}" alt="" width="120px" height="40px">
    <div class="mt-2">        
        <small>Her rezervasyon ev sahibi iptallerine, kayıt hatalarına ve girişle ilgili problemler gibi diğer sorunlara karşı ücretsiz olarak koruma altındadır.</small>
    </div>
    <div class="mt-4">
        <small style="text-decoration:underline!important"><b>Daha fazla bilgi edinin</b></small>
    </div>
    <hr>
</div>

<div class="detail-house-text mt-4 m-4">
    <small>Mylo Villa, Ios Adası'nda tenha bir noktada, adanın en ünlü plajı olan Mylopotas plajına arabayla sadece 2 dakika mesafededir.

        Villa, adını Mylopotas plajından ve sonsuz altın kuma, kristal berraklığındaki sulara sahip Ege'nin en güzel plajlarından birine yakınlığından aldı. Mylopotas plajı AB Mavi Bayrak, canlı plaj barları ile ödüllendirilir, su sporları tesisleri Mylo Villa'daki konaklamanızı tam bir yaz hayali gerçekleştirir.</small>
    <div class="mt-4">
        <small><b>Daha fazlasını göster</b></small>
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <hr>
</div>

<div class="detail-house mt-4 m-4">
    <h4>Bu mekan size neler sunuyor?</h4>
    <div class="d-flex mt-4 detail-house-list">
        <i class="fa-solid fa-utensils fa-lg" style="margin-top: 10px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <p>Mutfak</p>
        </div>
    </div>
    <div class="d-flex mt-2 detail-house-list">
        <i class="fa-solid fa-wifi fa-lg" style="margin-top: 10px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <p>Wifi</p>
        </div>
    </div>
    <div class="d-flex mt-2 detail-house-list">
        <i class="fa-solid fa-car fa-lg" style="margin-top: 10px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <p>Ücretsiz otopark</p>
        </div>
    </div>
    <div class="d-flex mt-2 detail-house-list">
        <i class="fa-solid fa-water-ladder fa-flip-horizontal fa-lg" style="margin-top: 10px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <p>Müstakil yüzme havuzu</p>
        </div>
    </div>
    <div class="d-flex mt-2 detail-house-list">
        <i class="fa-solid fa-paw fa-lg" style="margin-top: 10px;"></i>
        <div class="d-block"style="margin-left: 10px;">
            <p>Evcil hayvan kabul edilir</p>
        </div>
    </div>
    <div style="text-align: center;">
        <button type="button" class="btn btn-outline-dark">12 olanağın tümünü göster</button>
    </div>
    <hr>
</div>

<div class="detail-location mt-4 m-4">
    <h4>Nerede olacaksınız</h4>
    <div id="map-container-google-1" class=" mt-4 z-depth-1-half map-container" style="height: 200px;">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border-radius: 10px;" allowfullscreen></iframe>
      </div>
      <hr>
</div>

<div class="container">
    <h5>Mikonos bölgesinde 5 gece</h5>
    <small class="lead fs-6">3 May 2023 - 8 May 2023</small>
    <div class="wrapper">
        <header class="header__takvim">
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
              </svg> 
            </span>
            <span id="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
           </div>
        </header>
        <div class="takvim">
          <ul class="weeks">
            <li>Pt</li>
            <li>Sa</li>
            <li>Ça</li>
            <li>Pe</li>
            <li>Cu</li>
            <li>Ct</li>
            <li>Pa</li>
          </ul>
          <ul class="days"></ul>
        </div>
        <a href="" style="margin-left: 65%;" class="text-dark text-end">Tarihleri temizle</a>
    </div>
    <hr>
</div>

<div class="container d-flex">
    <i class="fa-solid fa-star ms-2"></i>
    <b class="me-2">4,71. Değerlendirme</b>
</div>

<div class="container detail__hidden">
    <div class="row">
        <div class="col-6 d-flex justify-content-between">
            <div class="container me-5 text-start">
                <ul>
                    <li>
                        <p>Temizlik</p>
                    </li>
                    <li>
                        <p>İletişim</p>
                    </li>
                    <li>
                        <p>Giriş</p>
                    </li>
                </ul>
            </div>
            <div class="container ms-5 text-end">
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>4,9</p>
                </div>
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>5.0</p>
                </div>
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>4,9</p>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-between">
            <div class="container me-5 text-start">
                <ul>
                    <li>
                        <p>Temizlik</p>
                    </li>
                    <li>
                        <p>İletişim</p>
                    </li>
                    <li>
                        <p>Giriş</p>
                    </li>
                </ul>
            </div>
            <div class="container ms-5 text-end">
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>4,9</p>
                </div>
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>5.0</p>
                </div>
                <div class="d-flex">
                    <div class="range__detail"></div>
                    <p>4,9</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-xl-6 col-sm-12">
           {% for yorum in yorumlar %}
           <div class="container mb-5">
                <div class="d-flex">
                    <div>
                        <img src="{{yorum.kullanici.profil.profilresim.url}}" width="55" height="55" class="rounded-circle">
                    </div>
                    <div class="ms-2 mt-1">
                        <h6>{{yorum.kullanici}}</h6>
                        <p style="margin-top: -8px;font-size: 13px;">{{yorum.new_date}}</p>
                    </div>
                    <div class="mt-2 ms-3">
                        {% if request.user == yorum.kullanici %}
                        <form action="" method="POST" class="d-inline">
                          {% csrf_token %}
                          <input type="hidden" name="userYorum" value="{{yorum.id}}">
                          <button type="submit" name="sil" style="background:transparent;border:none;">
                            <i class="fas fa-trash"></i>
                          </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="mt-1">
                    <p>
                        Maison propre, propriétaires accueillants, sécurité ( portail ect.. ) idéal pour passer des vacances au calme !
                    </p>
                </div>
            </div>
           {% endfor %}
        </div> 
        <div class="col-xl-6 col-sm-12">
            <div class="container mb-5">
                 <div class="d-flex">
                     <div>
                         <img src="{% static 'image/detail-img-2.jpg' %}" width="55" height="55" class="rounded-circle">
                     </div>
                     <div class="ms-2 mt-1">
                         <h6>Cedric</h6>
                         <p style="margin-top: -8px;font-size: 13px;">Eylül 2022</p>
                     </div>
                 </div>
                 <div class="mt-1">
                     <p>
                         Maison propre, propriétaires accueillants, sécurité ( portail ect.. ) idéal pour passer des vacances au calme !
                     </p>
                 </div>
            </div>
            <div class="container mt-5">
             <div class="d-flex">
                 <div>
                     <img src="{% static 'image/detail-img-2.jpg' %}" width="55" height="55" class="rounded-circle">
                 </div>
                 <div class="ms-2 mt-1">
                     <h6>Cedric</h6>
                     <p style="margin-top: -8px;font-size: 13px;">Eylül 2022</p>
                 </div>
             </div>
             <div class="mt-1">
                 <p>
                     Maison propre, propriétaires accueillants, sécurité ( portail ect.. ) idéal pour passer des vacances au calme !
                 </p>
             </div>
            </div>
            <div class="container mt-5">
                 <div class="d-flex">
                     <div>
                         <img src="{% static 'image/detail-img-2.jpg' %}" width="55" height="55" class="rounded-circle">
                     </div>
                     <div class="ms-2 mt-1">
                         <h6>Cedric</h6>
                         <p style="margin-top: -8px;font-size: 13px;">Eylül 2022</p>
                     </div>
                 </div>
                 <div class="mt-1">
                     <p>
                         Maison propre, propriétaires accueillants, sécurité ( portail ect.. ) idéal pour passer des vacances au calme !
                     </p>
                 </div>
            </div>
         </div> 
    </div>
    <button class="btn btn-outline-dark mb-2 mt-2 py-2">Bütün Değerlendirmeleri Göster</button>
    <hr class="mt-5 mb-5">
</div>

<div class="container">
    <h3 class="mb-4 mt-2">Bu eve bir yorum yap</h3>
    <div class="d-flex ">
        <div class="justify-content-start w-50">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Kullanıcı adınız</label>
                    <input type="text" class="form-control" name="kullanici" id="exampleFormControlInput1" placeholder="Kullanıcı Adınız">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Yorumunuz</label>
                    <textarea class="form-control" name="yorum" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" name="comment" class="btn btn-dark mb-4">Yorum Yap</button>
            </form>
        </div>
    </div>
</div>

<div class="container detail__hidden mb-3">
    <h4 class="text-start">Nerede olacaksınız?</h4>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48192.21068375024!2d29.028033431898063!3d40.981192498440144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac790b17ba89d%3A0xd2d24ea0437a7ee2!2zS2FkxLFrw7Z5L8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1652652989141!5m2!1str!2str" width="100%" height="500vh" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   <div class="mt-4">
    <h6>Mikonos, NY, Yunanistan</h6>
    <p class="hesap__p">A Short 15 min walk or 4 min Drive to Panormo Beach and PrincePote Beach Club. The view from our property is unhindered and gazes at one of the best beaches of Mykonos, where you can have a good time until late, at the three beautiful Bars and Restaurants.</p>
    <a href="" class="text-dark">Daha fazlasını göster</a>
   </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-5 col-sm-12">
            <div class="container mt-5">
                <div class="d-flex">
                    <div>
                        <img src="{% static 'image/detail-img-2.jpg' %}" width="55" height="55" class="rounded-circle">
                    </div>
                    <div class="ms-2 mt-1">
                        <h6>Cedric</h6>
                        <p style="margin-top: -8px;font-size: 13px;">Eylül 2022</p>
                    </div>
                </div>
                <div>
                    <i class="fa-solid fa-star"></i>
                    <p class="d-inline">175 değerlendirme</p>
                </div>
                <div>
                    <i class="fa-solid fa-shield-check"></i>
                    <p class="d-inline">Kimlik doğrulandı</p>
                </div>
                <div class="mt-4">
                    <p>We offer you a choice of 3 distinctive villas around the globe: Wahyu Villa in Bali, Indonesia, Villa Mylo in Ios, Greece and Infiniti Villa in Saint Barthélemy. All villas are <br> <a href="" class="text-dark">Devamını okuyun</a></p>
                </div>
           </div>
        </div>
        <div class="col-xl-7 col-sm-12">
           <div class="container" style="margin-top: 15%;">
                <p class="mt-2">Poliçe numarası: 01156880820</p>
                <p class="mt-2">Dil: English, Français</p>
                <p class="mt-2">Yanıt oranı: 100%</p>
                <p class="mt-2">Yanıt süresi: bir saat içinde</p>
           </div>
           <button class="btn btn-dark ms-2 py-2">Ev sahibi ile iletişime geçin</button>
           <div class="d-flex mt-3">
                <i class="fa-solid fa-shield mt-4" style="color: #ff007b;"></i>
                <p class="ms-2" style="font-size: 12px;">Ödeme güvenliği açısından asla Airbnb web <br> sitesi veya uygulaması dışında para havalesi <br> yapmayın ve iletişime girmeyin.</p>
           </div>
        </div>
    </div>
    <hr>
</div>

<div class="container mt-5">
    <h3 class="mb-5">Bilinmesi Gerekenler</h3>
    <div class="row mt-2">
        <div class="col-4">
            <p>Ev kuralları</p>
            <p>En erken giriş saati: 15.00</p>
            <p>En geç çıkış saati: 10.00</p>
            <p>Maksimum 5 misafir</p>
            <a href="" class="text-dark">Daha fazlasını göster</a>
        </div>
        <div class="col-4">
            <p>Güvenlik ve mekân</p>
            <p>Karbonmonoksit alarmı yok</p>
            <p>Duman alarmı yok</p>
            <p>Kapısı veya kilidi olmayan havuz/jakuzi</p>
            <a href="" class="text-dark">Daha fazlasını göster</a>
        </div>
        <div class="col-4">
            <p>İptal politikası</p>
            <p>Ücretsiz iptal için son gün 5 May.</p>
            <p>Ev sahibinin, COVID-19 kaynaklı hastalık veya aksaklıklar nedeniyle iptal etseniz bile geçerli olan tam iptal politikasını inceleyin.</p>
            <a href="" class="text-dark">Daha fazlasını göster</a>
        </div>
    </div>
</div>

<div style="height: 150px;"></div>

<script>
    // TAKVİM

const daysTag = document.querySelector(".days");
const currentDate = document.querySelector(".current-date");
const prevNextIcon = document.querySelectorAll(".icons span");

let currYear = new Date().getFullYear();
let currMonth = new Date().getMonth();

const months = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

const renderCalendar = () => {
    const date = new Date(currYear, currMonth, 1);
    let firstDayofMonth = date.getDay();
    let lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate();
    let lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay();
    let lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate();

    let liTag = "";

    for (let i = firstDayofMonth; i > 0; i--) {
        liTag += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`;
    }

    for (let i = 1; i <= lastDateofMonth; i++) {
        let isToday = i === new Date().getDate() && currMonth === new Date().getMonth() && currYear === new Date().getFullYear() ? "active" : "";
        liTag += `<li class="${isToday}">${i}</li>`;
    }

    for (let i = lastDayofMonth; i < 6; i++) {
        liTag += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
    }

    currentDate.innerText = `${months[currMonth]} ${currYear}`;
    daysTag.innerHTML = liTag;
};

renderCalendar();

prevNextIcon.forEach(icon => {
    icon.addEventListener("click", () => {
        currMonth = icon.id === "prev" ? currMonth - 1 : currMonth + 1;

        if (currMonth < 0 || currMonth > 11) {
            currYear = icon.id === "prev" ? currYear - 1 : currYear + 1;
            currMonth = currMonth < 0 ? 11 : 0;
        }

        renderCalendar();
    });
});
</script>

{% endblock content %}