{% extends 'main.html' %}
{% load static %}

{% block menu %}
    {% include 'part/second.navbar.html' %}
    {% include 'part/footer.html' %}
    {% include 'part/fixedbottombar.html' %}
{% endblock menu %}


{% block content %}

    <div class=" container p-5 profil_container">
        <div class="row">
            <div class="order-first col-xl-3 col-sm-12">
                
                <!--cart -->
                <div class="card cardd" style="width: 22rem;">
                    <div class="d-flex justify-content-between ms-3">
                        
                    <div class="card-body p-3">
                    <img src="static/img/profil.png " style="width: 60px!important;object-fit: cover;" class="rounded-5" width="70" height="70" alt="">
                    <div class="ms-3">
                        <p class="card-text"><H4><b>İREM</b> </H4><br>Misafir</p>
                        
                    </div>
                    </div>
                    <div class="mt-4 mb-5 me-5">
                        <p><b>10</b> <br>Değerlendirme </p>
                        <hr>
                        <p><b>10</b> <br>Yıldır Airbnb'de </p>
                    </div>
                    </div>
                </div>
                <!--KJWDGHKÖWDG-->
                <div class=" col order-last card rounded-5 mt-4" style="width: 22rem">
                    <div class="card-body">
                    <h5 class="card-title p-3">İrem ile ilgili onaylı bilgiler</h5>
                    <div class="d-flex p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="done"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"></path></svg>
                        <p class="card-text">Kimlik bilgileri</p>
                        
                    </div>
                    <div class="d-flex p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="done"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"></path></svg>
                        <p class="card-text">Telefon Numarası</p>
                    </div>
                    <div class="d-flex p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="done"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M9 16.2l-3.5-3.5c-.39-.39-1.01-.39-1.4 0-.39.39-.39 1.01 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0L9 16.2z"></path></svg>
                        <p class="card-text">E-posta Adresi</p>
                        
                    </div>
                    <div>
                        <p class="card-text">Hesap bilgilirinizi onaylamak Airbnb toplulugunu güvende tutmaya yardımcı olur.</p>
                        <a href="#" class="text-dark">Daha fazla bilgi edinin</a>
                    </div>
                        </div>
                        </div>
                    <div class="d-flex mt-4" id="profil_flag">
                        <i class="fa-sharp fa-solid fa-flag"></i>
                        <a href="#" class="text-dark"><b class="p-1" style="font-size: medium;" style="color: black;"> Bu profili şikayet edin.</b></a>
                    </div>
            </div>
            <div class="col-xl-8 col-sm-12 ">
                <div class="container ms-5">
                    <h4 class="mb-4">HAKKIMDA</h4>
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="25" height="25" id="globe-stand"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="95.994" r="72" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></circle><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" d="M201.53911,169.53264A104,104,0,0,1,54.46089,22.45443"></path><line x1="96" x2="160" y1="231.994" y2="231.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line><line x1="128" x2="128" y1="199.994" y2="231.994" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"></line></svg>
                        <p style="font-size: medium p-4;">Bakırköy, İstanbul bölgesinde yaşıyor</p>
                    </div>
                    <hr>
                    <div><small style="font-size: larger;" style="margin: 10px;">Ev sahiplerinin irem hakkında söyledikleri</small></div>
                    <!---crosel-->
                        <div class="owl-carousel profil_owl mt-5">
                            <div class="border rounded-5"> 
                           
                                    <p class="p-3"> ''...İrem harika bir misafir! Onunla ilgilenmek harika bir deneyimdi.İrem gerçekten duyarlı ve nazikti. Herkesin ihtiyaçlarına duyarlıydı.

                                    </p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/erkekfoto1.png " style="width: 60px!important;object-fit: cover;" height="60px" alt="">
                                        <p class="p-2">Osman <br> Mart 2023</p>
                                    </div>
                               
                            </div>
                            
                                <div class="border rounded-5"> 
                                
                                    <p class="p-3">''...İrem'i misafir etmekten dolayı mutluyum. O gerçekten mükemmel bir konuktu. Her zaman neşeli, nazik ve ilgiliydi.</p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/kızzfoto2.png"  style="width: 60px!important;object-fit: cover;" height="60px" alt="">
                                        <p class="p-2">Merve <br> Nisan 2023</p>
                                    </div>
                                </div>
                          
                            
                                <div class="border rounded-5"> 
                                
                                    <p class="p-3">''...İrem harika bir konuktu. O gerçekten harika bir ruh hali ve neşeli bir tavırla geldi. O, insanlara karşı saygılı ve güler yüzlüydü.</p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/erkekfoto.png " style="width: 60px!important;object-fit: cover;" height="60px" alt="">
                                        <p class="p-2">Osman <br> Mart 2023</p>
                                    </div>
                                </div>
                               
                            
                                <div class="border rounded-5"> 
                                
                                    <p class="p-3">''...İrem harika bir konuktu. O gerçekten harika bir ruh hali ve neşeli bir tavırla geldi. O, insanlara karşı saygılı ve güler yüzlüydü.</p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/erkekfoto.png " style="width: 60px!important;object-fit: cover;" height="60px" alt="">
                                        <p class="p-2">Osman <br> Mart 2023</p>
                                    </div>
                                </div> 
                            </div>
                            </div>
                        </div>
                        <!--MODALLL-->
                        
                        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            10 Değerlendirmeyi göster
                        </button>
                    
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"> <p><b>10 Değerlendirme</b></p>
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p>Ev sahiplerinden . 10</p>

                                <p class="p-3">''...İrem'i misafir etmekten dolayı mutluyum. O gerçekten mükemmel bir konuktu. Her zaman neşeli, nazik ve ilgiliydi.</p> 
                                
                                <div class="d-flex p-2">
                                    <img class="rounded-5 ms-2" src="static/img/kızzfoto2.png" style="width: 60px!important;object-fit: cover;" height="50px" alt="">
                                    <p class="p-2">Merve <br> Nisan 2023</p>
                                </div>
                                <hr>
                                <p class="p-3">''...İrem harika bir konuktu. O gerçekten harika bir ruh hali ve neşeli bir tavırla geldi. O, insanlara karşı saygılı ve güler yüzlüydü.</p> 
                                
                                <div class="d-flex p-2">
                                    <img class="rounded-5 ms-2" src="static/img/erkekfoto.png " style="width: 60px!important;object-fit: cover;" height="50px" alt="">
                                    <p class="p-2">Osman <br> Mart 2023</p>
                                </div>
                                <hr>
                                
                                <p class="p-3">''...İrem'i misafir etmekten dolayı mutluyum. O gerçekten mükemmel bir konuktu. Her zaman neşeli, nazik ve ilgiliydi.</p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/kızzfoto2.png" style="width: 60px!important;object-fit: cover;" height="50px" alt="">
                                        <p class="p-2">Merve <br> Nisan 2023</p>
                                    </div>

                                    <p class="p-3">''...İrem'i misafir etmekten dolayı mutluyum. O gerçekten mükemmel bir konuktu. Her zaman neşeli, nazik ve ilgiliydi.</p> 
                                
                                    <div class="d-flex p-2">
                                        <img class="rounded-5 ms-2" src="static/img/kızzfoto2.png" style="width: 60px!important;object-fit: cover;" height="50px" alt="">
                                        <p class="p-2">Merve <br> Nisan 2023</p>
                                    </div>
                                
                    
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="back-button">
        <a href="#"><i class="fa fa-arrow-left"></i> </a>
    </div>
    <script type="text/javascript">
        
    </script>
{% endblock content %}