{% load static %}

    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="main-container d-flex justify-content-evenly">
            <div class="text-center">
                <h6><i class="fa-solid fa-magnifying-glass"></i></h6>
                <s style="font-size: 10px;">Keşfet</s>
            </div>
            <div class="text-center">
                <h6><i class="fa-regular fa-heart"></i></h6>
                <s style="font-size: 10px;">Favoriler</s>
            </div>
            <div class="text-center">
                <h6><i class="fa-brands fa-airbnb"></i></h6>
                <s style="font-size: 10px;">Seyahatler</s>
            </div>
            <div class="text-center">
                <h6><i class="fa-regular fa-user"></i></h6>
                <s style="font-size: 10px;">Profil</s>
            </div>
    </div>
    </nav>

    