{% load static %}


<div class="dropup1">
    <div class="dropbtn1">
        <div style="width: 95%; margin: auto;">
            <div class="row">
                <div class="dropup-item col-6 text-start">
                    <span>© 2023 Airbnb, Inc.</span> 
            
                    <a href="">Gizlilik</a>
                
                    <a href="">Şartlar</a>
                
                    <a href="">Site haritası</a>
                </div>
                
                <div class="dropup-item dropup-item-right col-6 text-end">
                    <i class="fa-solid fa-globe"></i>
            
                    <a href="">Türkçe (TR)</a>
                
                    <a href="">₺ TRY</a>
                
                    <a class="upcontent" href="">Destek ve kaynaklar <i class="fa-solid fa-chevron-up"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropup-content1">
        <div class="row dropup-content1-content">
            <div class="col-3">
                <div class="content-all">
                    <h6 class="mt-5">Destek</h6>
                    <a class="mb-2">Yardım Merkezi</a>
                    <a class="mb-2">Güvenlik sorunuyla ilgili yardım alın</a>
                    <a class="mb-2">AirCover</a>
                    <a class="mb-2">Engelli kişilere destek</a>
                    <a class="mb-2">İptal seçenekleri</a>
                    <a class="mb-2">COVID-19 önlemlerimiz</a>
                    <a class="mb-2">Semtinizdeki sorunu bildirin</a>
                </div>
            </div>
            <div class="col-3">
                <div class="content-all">
                    <h6 class="mt-5">Topluluk</h6>
                    <a class="mb-2">Airbnb.org: afet yardımı</a>
                    <a class="mb-2">Ayrımcılıkla mücadele</a>
                </div>
            </div>
            <div class="col-3">
                <div class="content-all">
                    <h6 class="mt-5">Ev Sahipliği</h6>
                    <a class="mb-2">Evinizi Airbnb'ye taşıyın</a>
                    <a class="mb-2">Ev sahipleri için AirCover</a>
                    <a class="mb-2">Ev sahibi kaynaklarını keşfedin</a>
                    <a class="mb-2">Topluluk forumunu ziyaret edin</a>
                    <a class="mb-2">Sorumlu ev sahipliği</a>
                </div>
            </div>
            <div class="col-3">
                <div class="content-all">
                    <h6 class="mt-5">Airbnb</h6>
                    <a class="mb-2">Basın odası</a>
                    <a class="mb-2">Yeni özellikler hakkında bilgi</a>
                    <a class="mb-2">Kurucularımızdan bir mektup</a>
                    <a class="mb-2">Kariyer</a>
                    <a class="mb-2">Yatırımcılar</a>
                </div>
            </div>
        </div>
            
    </div>
</div>