{% load static %}


    <header class="p-3 m-2 main-header">
        <div class="main-container">
            <div class="d-flex align-items-center justify-content-between main-navbar">
                <a href="">
                    <img src="{% static 'image/airbnb.png' %}" width="90px" alt="">
                </a>
                <div class="text-end navbar-right d-flex"> 
                    <a href="/postForm/" class="mx-4 nav-link" type="button">Evinizi Airbnb'ye taşıyın</a>
                    <div class="dropdown dropdwon-menu">
                        <a class="btn bg-white btn-outline-dark dropdown rounded-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="uil uil-align-justify"></i>
                            <img src="{% static 'image/airbnb.png' %}" width="35px" alt="">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>               
    </header>
